@font-face {
    font-family: Gotham Pro;
    src: url(../Fonts/GothaProBol.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gotham Pro;
    src: url(../Fonts/GothaProMed.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gotham Pro;
    src: url(../Fonts/GothaProLig.otf);
    font-style: normal;
    font-weight: 300;
}

* {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: 'Gotham Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    transition: .5s;
}

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

span.modal_trigger {
    font-size: 14px;
    text-decoration: underline;
}

section h1 {
    font-size: 2.0625rem;
}

.btn {
    padding: 1.3125rem 4.3rem;
    border: 0;
    background: #00b4f7;
    color: white;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 0px 6px 10px rgba(0, 64, 88, 0.24);
    cursor: pointer;
    outline: none;
    font-size: 0.9375rem;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn:active {
    box-shadow: unset;
    transform: translateY(.5rem);
}

h1 {
    text-transform: uppercase;
    font-size: 3.2rem;
    color: #00b4f7;
}

h3 {
    font-weight: 400;
}

h1 span {
    color: black;
}


input[type="text"],
select,
input[type="date"] {
    border: 0;
    width: 53rem;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
    outline: none;
}

/**********/
/* SLIDER */
/**********/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #00b4f7;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #00b4f7;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.43em;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00b4f7;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #00b4f7;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #00b4f7;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #00b4f7;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
}

input[type=range]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #00b4f7;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #00b4f7;
}

input[type=range]:focus::-ms-fill-upper {
    background: #00b4f7;
}

/******************/
/* Header Section */
/******************/
header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

header .normal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .mobile {
    width: 100%;
    display: none;
}

header .mobile span {
    color: white;
    float: right;
    font-size: 4rem;
    margin-top: -3.6rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: 100;
}

header .logo {
    width: 12rem;
    height: 3.1875rem;
    background-image: url('../img/header_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header nav {
    align-items: center;
    display: flex;
}


header .contact {
    width: 14rem;
    text-align: right;
    margin-top: 0.3rem;
}

header .contact a {
    text-decoration: none;
    color: #ffffff;
}

/****************/
/* Body section */
/****************/
footer {
    background-color: #00b4f7;
}

footer .content {
    width: 100%;
    height: unset;
    padding: 4rem 6rem 0;
    display: flex;
    flex-wrap: wrap;
}

footer .content .item {
    width: 25%;
    padding-bottom: 4rem;
}

footer .content .item:nth-child(3) {
    padding-left: 1rem;
}

footer .content .item li {
    font-size: 0.9375rem;
    line-height: 1.875rem;
    color: #ffffff;
    font-weight: lighter;
    cursor: pointer;
}

footer .logo {
    width: 9.6875rem;
    height: 2.5625rem;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2.0625rem;
}

footer .content a {
    text-decoration: none;
    color: #ffffff;
}

footer .copyright {
    display: block;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.875rem;
    color: #ffffff;
    font-weight: lighter;
    padding: 0.33rem 6rem;
    background-color: #333333;
}

/****************/
/* Section Head */
/****************/
#head {
    background: url(../img/family.jpg);
    background-size: cover;
    background-position-y: -11rem;
    background-repeat: no-repeat;
    padding: 8.1875rem 6rem;
    position: relative;
}

.head_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.4;
    display: none;
}

#head .container {
    height: 31rem;
    width: 44rem;
    position: relative;
}

#head h1 {
    color: #00b4f7;
    margin-bottom: 1.6875rem;
    line-height: 1.4;
    font-size: 2.625rem;
}

#head p {
    font-weight: 300;
    font-size: 1.6rem;
}

#head p span {
    color: #00b4f7;
    font-weight: 600;
}

#head button {
    margin-top: 2.9375rem;
}

.header_item {
    width: 100%;
    display: flex;
    padding: 1.0625rem 6rem;
}

.header_item:nth-of-type(1) {
    background-color: #00b4f7;
}

.header_item:nth-of-type(2) {
    background-color: #ffffff;
}

.normal {
    display: flex;
    flex-direction: column;
}


.header_small_nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.header_small_nav li {
    cursor: pointer;
    font-size: 0.8125rem;
    color: #00b4f7;
    margin-right: 3.125rem;
}

/********************/
/* Section Contacts */
/********************/
#contacts {
    min-height: 0;
    margin-top: 4rem;
}

footer .mobile {
    display: none;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.mobile .phone a {
    color: #ffffff;
    text-decoration: unset;
}

#contacts iframe {
    width: 100%;
    height: 34rem;
    margin-bottom: -0.375rem;
}

#contacts .contact_info {
    width: 26.625rem;
    background: white;
    position: absolute;
    box-shadow: 0rem 0.615rem 0.8125rem rgba(0, 0, 0, 0.19);
    padding: 4rem 2.5rem;
    margin-top: -31rem;
    margin-left: 9rem;
}

#contacts .contact_info h3 {
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    color: #333333;
    margin-bottom: 2rem;
}

#contacts .contact_text {
    font-size: 0.9375rem;
    line-height: 1.875rem;
    color: #333333;
    font-weight: normal;
    display: flex;
    align-items: center;
}

#contacts svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

#contacts .contact_info span:nth-of-type(2) {
    font-size: 1.125rem;
    margin: 1.625rem 0 2.0625rem;
}

#contacts .btn {
    width: 16.3125rem;
    font-size: 0.9375rem;
    margin-bottom: 1rem;
}

#contacts .agreement {
    display: block;
    width: 100%;
    font-size: 0.6875rem;
    color: #333333;
    font-weight: lighter;
}

#contacts .agreement a {
    color: #00b4f7;
}

/********************/
/*Section Calculator*/
/********************/

#calculator {
    padding: 6.1875rem 6rem;
    display: flex;
    flex-wrap: wrap;
}

#calculator .heading {
    text-align: center;
    padding-bottom: 2.25rem;
    width: 100%;
}

/*
#calculator .content {
    display: flex;
}

#calculator .sliders,
#calculator .results,
#calculator .partners {
    width: 33.3333%;
    padding: 2rem;
}

#calculator h3 {
    font-weight: 400;
    margin: .2em;
    color: grey;
}

#calculator .slider {
    border: 1px solid lightgrey;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    margin-bottom: 3rem;
}

#calculator .slider h3 {
    margin: 1rem 0 0.5rem 2rem;
    font-size: 1.5em;
    font-weight: 100;
    color: black;
}

#calculator .results {
    padding-left: 7rem;
}

#calculator .results hr {
    width: 4rem;
    float: left;
    margin: 0 0 0 0.3rem;
    border-color: #00b4f7;
}

#calculator .results h2 {
    margin-left: 0.3rem;
    color: #00b4f7;
    font-weight: normal;
    font-size: 2rem;
}

#calculator .result {
    margin-bottom: 4rem;
}

#calculator .banks {
    height: 27rem;
    box-shadow: 0 0 11px 0 lightgrey;
}

#calculator .bank {
    display: flex;
}

#calculator .partner {
    height: 9rem;
    width: 50%;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#calculator .partner:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #caf1ff;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#calculator .button {
    width: 23rem;
    margin: 0 auto;
} */


.calculator {
    min-width: 574px;
    position: relative;
    width: 60%;
    padding: 1rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#calculator .container {
    width: 100%;
}

.calc_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.calc_wrap {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.count_button {
    margin: 3.5rem auto 0;
}

.partners {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.partners h3 {
    font-size: 1.0625rem;
    color: #333333;
    width: 100%;
    margin-bottom: 1rem;
}

.partners_item {
    width: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.875rem;
    padding: 1rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.partners_item__moved {
    margin-top: -1.5625rem;
}

.partners_item:hover {
    box-shadow: 1.717px 8.835px 18px rgba(0, 68, 93, 0.17);
    background-color: #caf1ff;
    transform: scale(1.1);
    z-index: 10;
}

.param {
    position: relative;
    padding: 1.56rem 4.25rem 0rem 1.875rem;
    width: 65%;
    max-width: 562.5px;
    margin-bottom: 1rem;
}


.conditions {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.param_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.param_item h3 {
    font-size: 1.0625rem;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 2rem;
    color: #4A4A4A;
    display: block;
    width: 100%;
}


.calc_line {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #d9d9d9;
    /*  px usd instead of rem */
}

.param_value {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.param_scale {
    width: 100%;
    height: 0.5rem;
    background-color: #40a1d3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.condition_type {
    width: 100%;
    display: block;
    font-size: 1.0625rem;
    color: #4A4A4A;
    letter-spacing: 0;
    margin-bottom: 0.88rem;
}

.condition_type::after {
    content: '';
    display: block;
    width: 4rem;
    height: 0.125rem;
    margin-top: 0.375rem;
    background-color: #00b4f7;

}

.condition_value_percent,
.condition_value_sum {
    color: #00b4f7;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-weight: 400;
}

.conditions div {
    margin-bottom: 2rem;
    width: 100%;
}

.conditions div:nth-of-type(3) {
    margin-bottom: 0rem;
}

.result_text {
    font-size: 1.125rem;
    color: #4A4A4A;
    letter-spacing: normal;
    display: block;
    width: 100%;
    margin-bottom: 0.625rem;
}

.result_num_payment {
    display: block;
    width: 100%;
    color: #0DB8F7;
    font-size: 1.875rem;
    letter-spacing: 0;
}

.count_section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.count_section p {
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: right;
    font-weight: normal;
}

.count_start {
    outline: none;
    border: unset;
    background-color: #00b4f7;
    width: 17.4375rem;
    color: #ffffff;
    font-weight: bold;

}

.irs-line-mid {
    left: 4%;
    height: 0.5rem;
    width: 100%;
}

.irs-line {
    height: 1.56rem;
    top: 3rem;
}

.irs-line-left {
    height: 1.375rem;
    background-position: 0 -1.75rem;
}

.irs-line-right {
    height: 1.25rem;
    background-position: 3rem -1.75rem;
}

.irs-slider {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
    width: 2rem;
    height: 3.125rem;
}

.irs-slider:hover {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
}

.irs-bar {
    height: 1.875rem;
    top: 2.3125rem;
    background-position: -0.56rem -2.8rem;
}

.irs-bar-edge {
    top: 3rem;
    width: 1.375rem;
    left: 0;
    background-position: 0 -3.5rem;
    transform: rotate(180deg);
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    left: 1rem !important;
    color: #4A4A4A;
    font-size: 1.0625rem;
    letter-spacing: 0;
    background-color: #ffffff;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    /* px used instead of rem */
    border-radius: 3px;
}


.irs-grid-text {
    font-size: 0.625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.irs-min,
.irs-max {
    visibility: hidden !important;
}

.irs-grid {
    top: 3.625rem;
    height: 1.25rem;
}

.irs-with-grid {
    height: 2.5rem;
}

/*******************/
/* Section Programs*/
/*******************/
#programs {
    background: #ececec;
    padding: 6.1875rem 6rem;
}

#programs .container {}

#programs .content {
    padding: 4.3125rem 0 0;
}

#programs .heading {
    margin: 0 auto;
    text-align: center;
}

#programs .row {
    display: flex;
}

#programs .row:nth-of-type(1) {
    margin-bottom: 3rem;
}

#programs .element {
    width: 32%;
    margin-right: 3%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 25px -5px lightgrey;
    padding: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#programs .element:nth-of-type(3) {
    margin-right: 0;
}

#programs .element:hover {
    color: white;
    background: #00b4f7;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#programs .element h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 1.5rem;
    font-weight: 300;
    margin: 0;
    width: 74%;
}

#programs svg {
    fill: #00b4f7;
    width: 2.5rem;
    height: 2.5rem;
}

#programs .element:hover svg {
    fill: white;
}

#programs .element:hover .icon {
    border-color: white;
}

#programs .icon {
    border: 1px solid #00b4f7;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 3rem;
    padding: .9rem;
}

#programs p {
    width: 10rem;
    font-size: .9rem;
    line-height: 1.2rem;
    color: grey;
    font-weight: 300;
}

#programs .element:hover p {
    color: white;
}

/***************/
/* Section Quiz*/
/***************/
#quiz {
    padding: 8.125rem 6rem;
}

#quiz .heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.75rem;
}

#quiz h1 {
    margin-bottom: 1.1875rem;
}

#quiz h3 {
    font-size: 1.125rem;
}

#quiz hr {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 2rem auto 0;
    border: 1px solid #a0e4ff;
}

#quiz .content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: #d4f2fd;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    border: 1px solid #a0e4ff;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 20rem;
    max-height: 535px;
}

#quiz .quiz_info {
    background: #00b4f7;
    padding: 1.75rem;
    text-align: center;
    color: white;
    border-radius: 1rem 1rem 0 0;
}

#quiz .quiz_info p {
    font-size: 1.25rem;
    color: #ffffff;
}

#quiz .offer {
    padding: 1.0625rem;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}

#quiz .animated_progress {
    position: absolute;
    width: 0.8rem;
    height: 100%;
    min-height: 75px;
    background-color: #f8e66e;
    top: -1rem;
    transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);
    -ms-transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);
    -webkit-transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);
    transition: all 0.2s ease;
}

.added_opacity {
    opacity: 0.3;
}


.animated_progress:nth-of-type(2) {
    left: 6%;
}

.animated_progress:nth-of-type(3) {
    left: 10%;
}

.animated_progress:nth-of-type(4) {
    left: 14%;
}

.animated_progress:nth-of-type(5) {
    left: 18%;
}

.animated_progress:nth-of-type(6) {
    left: 22%;
}

.animated_progress:nth-of-type(7) {
    left: 26%;
}

.animated_progress:nth-of-type(8) {
    left: 30%;
}

.animated_progress:nth-of-type(9) {
    left: 34%;
}

.animated_progress:nth-of-type(10) {
    left: 38%;
}

.animated_progress:nth-of-type(11) {
    left: 42%;
}

.animated_progress:nth-of-type(12) {
    left: 46%;
}

.animated_progress:nth-of-type(13) {
    left: 50%;
}

.animated_progress:nth-of-type(14) {
    left: 54%;
}

.animated_progress:nth-of-type(15) {
    left: 58%;
}

.animated_progress:nth-of-type(16) {
    left: 62%;
}

.animated_progress:nth-of-type(17) {
    left: 66%;
}

.animated_progress:nth-of-type(18) {
    left: 70%;
}

.animated_progress:nth-of-type(19) {
    left: 74%;
}

.animated_progress:nth-of-type(20) {
    left: 78%;
}

#quiz .offer p {
    font-weight: 300;
    margin: 0;
    z-index: 10;
    position: relative;
}

#quiz .offer p>span {
    font-weight: 500;
}

#quiz .quiz {
    padding: 0 7.9375rem 2.375rem;
}

#fio {
    width: 100%;
}

#quiz .progress {
    display: flex;
    align-items: center;
    padding: 2.375rem 7.9375rem 0;
}

#quiz .progress h3 {
    width: unset;
    margin: 0;
}

#quiz .contacts {
    margin-top: 1.4rem;
    display: flex;
    flex-wrap: wrap;
}

#quiz .contacts input:nth-of-type(1) {
    margin-right: 3%;
}

#quiz .contacts input,
#quiz .contacts select {
    width: 48.5%;
    margin: 0;
}

#quiz .contacts select {
    height: 4.125rem;
    ;
}

.citizenship_info,
.pasport_info,
.registration_info,
.bought_target {
    flex-wrap: wrap;
}

#quiz .citizenship_info input,
#quiz .citizenship_info select,
#quiz .registration_info input,
#quiz .registration_info select,
#quiz .bought_target select {
    margin: 1.25rem 0 0 !important;
    width: 100%;
}

#quiz .pasport_info h3,
#quiz .registration_info h3,
#quiz .bought_target h3 {
    width: 100%;
    font-size: 1.25rem;
    color: #333333;
    padding: 1.3125rem 0 2.3125rem;
}

#quiz .bought_target .checkbox_container {
    width: 100%;
    padding-top: 1.875rem;
}

#quiz .pasport_info input {
    margin-bottom: 1rem;
}

#quiz .pasport_info input:last-of-type {
    width: 100%;
}

.pasport_info .checkbox_container {
    width: 100%;
}

#quiz .pasport_info .checkbox_container input,
#quiz .bought_target .checkbox_container input {
    width: auto;
    margin: 0;
    margin-right: 1rem;
}

.radio_block {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 42%;
    padding-bottom: 2.625rem;
}

.radio_block label {
    font-size: 1.0625rem;
    color: #333333;
    width: 100%;
}

.bought_target__b_input {
    margin: 0 !important;
    width: 100% !important;
    margin-bottom: 1rem !important;
}


#quiz .radio_block input {
    width: auto;
    margin-right: 1rem !important;
}

.controls_back_btn {
    background-color: transparent;
    border: unset;
    outline: none;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #00b4f7;
    margin: 0 !important;
}

.bought_target__s_input {
    margin-left: 3% !important;
}

.quiz_step_finish {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4.5rem;
    padding: 2.0625rem;
}

.quiz_step_finish p {
    font-size: 1.125rem;
    color: #333333;
    font-weight: 300;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 1.75rem;
}

.quiz_step_finish__img_conatiner {
    width: 7.5625rem;
    height: 7.5625rem;
    border-radius: 50%;
    border: 0.1875rem solid #00b4f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz_step_finish__img_conatiner svg {
    width: 50%;
}


#quiz .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.1875rem;
}

#quiz .controls label {
    font-size: 0.75rem;
    color: #000000;
    margin-left: 1rem;
}

.checkbox_container {
    display: flex;
    align-items: center;
}

#quiz .controls button {
    margin-left: 1rem;
}

#quiz .controls a {
    text-decoration: unset;
    color: #01b4f7;
    margin-left: 0.5rem;
}

#quiz .dots {
    display: flex;
    padding: 6px 30px;
}

#quiz .dot::after {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background-color: #01b4f7;
    position: absolute;
    top: 45%;
    left: 100%;
    ;
}

#quiz .dot:last-of-type::after {
    content: '';
    display: none;
}

#quiz .dots .dot {
    width: 9px;
    height: 9px;
    border-radius: 1rem;
    border: 1px solid #01b4f7;
    margin-right: 15px;
    position: relative;
}

#quiz .dots .dot.active {
    border: none;
    background: #01b4f7;
}

.invisible_item {
    opacity: 0;
    display: none;
}

.checkbox_container {
    user-select: none;
  }
  
  .checkbox_container .square {
    width: 1.25rem;
    height: 1.25rem;
    border: 0.0625rem solid #01b4f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  .checkbox_container svg {
      opacity: 0;
      width: 80%;
  }
  
  .checkbox_container input[type="checkbox"],
  .quiz_radio_input input[type="radio"] {
    display: none;
  }
  
  .checkbox_container input:checked + .square {
    background-color: #01b4f7;
  }

  .checkbox_container input:checked + .square svg {
      opacity: 1;
  }

  .quiz_radio_input {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 0.9375rem;
    color: #333333;
    font-weight: lighter;
}

.quiz_radio_input .checkbox_mark {
    width: 0.9375rem;
    height: 0.9375rem;
    border-radius: 50%;
    border: 0.0625rem solid #00b4f7;
    display: inline-block;
    margin-right: 1rem;

}

.quiz_radio_input input:checked+.checkbox_mark {
    background-image: url(../img/check_box_circle.svg);
    background-size: 100% 100%;
}

/*******************/
/* Section Profits */
/*******************/
#profits {
    background: #ececec;
    padding: 6.3125rem 6rem;
}

#profits .heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 4.3125rem;
}

#profits .content {
    display: flex;
    justify-content: space-between;
}

#profits .content h3 {
    width: fit-content;
    padding-bottom: 0.9375rem;
}

#profits .text {
    width: 80%;
}

#profits .column {
    width: 47.5%;
}

#profits .element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.25rem;
}

#profits .element p {
    color: grey;
    font-weight: 100;
    width: 80%;
}

#profits .element .icon {
    border: 1px solid #00b4f7;
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profits .element svg {
    width: 60%;
}

#profits .element path {
    fill: #01b4f7;
}

/**************/
/* Section FAQ*/
/**************/
#faq {
    padding: 6.125rem 6rem;
}

#faq .heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.8125rem;
}

.ac-container {
    width: 100%;
    border: 1px solid #dadada;
}

.ac-container label {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.0625rem;
    color: #333333;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.ac-container input {
    display: none;
}

.ac-container article {
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    text-align: justify;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ac-container input:checked~article {
    height: fit-content;


    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ac-container article p {
    display: block;
    width: 80%;
    margin: 1rem;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
}

.circle-plus {
    margin: 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.closed .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
}

.closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.opened {
    opacity: 1;
}

.opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}

.opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}

.circle-plus .circle .horizontal {
    position: absolute;
    background-color: #000000;
    width: 0.875rem;
    height: 0.125rem;
    left: 95%;
    margin-left: -0.15625rem;
    top: 50%;
    margin-top: -0.25rem;
}

.circle-plus .circle .vertical {
    position: absolute;
    background-color: #000000;
    ;
    width: 0.125rem;
    height: 0.875rem;
    left: 95.6%;
    margin-left: -0.15625rem;
    top: 60.6%;
    margin-top: -0.9375rem;
}

header {
    width: 100%;
    z-index: 1000;
    position: relative;
}

header nav {
    display: none;
    width: 100%;
    background-color: #0DB8F7;
    box-shadow: 0rem 0.375rem 1.3125rem rg
}

.menu_buttons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.menu__icon {
    width: 2.25rem;
    position: relative;
    cursor: pointer;
    margin-top: -1rem;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 0.166rem;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0rem;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 0.66rem;
}

.menu__icon span:nth-child(4) {
    top: 1.33rem;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 1rem;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 1rem;
    width: 0%;
    left: 50%;
}

.menu_bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    position: relative;
    box-shadow: 0rem 0.3125rem 1.6875rem rgba(0, 0, 0, 0.2);
}

.hidden_menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 4.5rem 1rem;
}

.hidden_menu a {
    text-decoration: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #00B4F7;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.hidden_menu svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.hidden_menu_item li {
    margin-bottom: 0.5rem;
}

.hidden_menu_item:nth-of-type(1) ul {
    cursor: pointer;
    font-size: 1.2rem;
    color: #00B4F7;
    font-weight: bold;
}

.hidden_menu_item:nth-of-type(2) ul {
    cursor: pointer;
    font-size: 0.9375rem;
    color: #333333;
    text-align: right;
}

.hidden_menu_item {
    width: 50%;
    display: flex;
}

.hidden_menu_item:nth-of-type(1) {
    justify-content: flex-start;
}

.hidden_menu_item:nth-of-type(2) {
    justify-content: flex-end;
}

.hidden_menu_item .header_item:nth-of-type(1) {
    height: 5.5625rem;
    background-color: #00b4f7;
    padding: 1.0625rem 6rem;
    justify-content: space-between
}

.hidden_menu_item .header_item:nth-of-type(2) {
    padding: 0.625rem 6rem 0.625rem 6.1rem;
}

.header_item {
    width: 100%;
    display: flex;
}

.header_item:nth-of-type(1) {
    height: 5.5625rem;
    background-color: #00b4f7;
    padding: 1.0625rem 6rem;
    justify-content: space-between
}

.header_item:nth-of-type(2) {
    padding: 0.625rem 6rem 0.625rem 6.1rem;
}

.header_logo {
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.1875rem;
    width: 12rem;
}

.header_nav {
    align-items: center;
    display: flex;
}

.header_nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav li {
    cursor: pointer;
    font-size: 0.9375rem;
    color: #ffffff;
    margin-right: 2.0625rem;
}

.header_contacts {
    padding-top: 0.3rem;
}

.header_contacts a {
    text-decoration: unset;
    font-size: 0.9375rem;
    color: #ffffff;
    text-align: right;
    position: relative;
}

.tel_comment {
    position: absolute;
    font-size: 0.75rem;
    color: #ffffff;
    text-decoration: underline;
    right: 0;
    bottom: -1rem;
}

.header_small_nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.header_small_nav li {
    cursor: pointer;
    font-size: 0.8125rem;
    color: #00b4f7;
    margin-right: 3.125rem;
}

.overlay {
    z-index: 900;
    position: fixed;
    top: 0rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.7;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.no_scroll {
    height: 100%;
    overflow: hidden;
}


/* MOBILE VERSION */

@media screen and (min-width: 320px) and (max-width: 375px) {

    html,
    body {
        font-size: 12px
    }

    #head .container {
        width: unset;
    }

    .header_item {
        display: none;
    }

    header nav {
        display: block;
    }

    #head {
        padding: 8.1875rem 1rem;
    }

    #head h1 {
        font-size: 2.3rem;
        color: #ffffff;
    }

    #head p,
    #head p span {
        color: #ffffff;
    }

    #head {
        background-position: center;
    }

    .head_wrap {
        display: block;
    }

    .btn {
        font-size: 1.3rem;
    }

    #calculator,
    #programs,
    #profits,
    #faq {
        padding: 6.1875rem 1rem;
    }

    .param {
        padding: 2rem 0.3rem 0;
    }

    .calc_section {
        padding: 0;
        flex-direction: column-reverse;
    }

    .partners {
        width: 100%;
    }

    .partners_item {
        width: 33.3%;
    }

    .partners_item__moved {
        margin: 0;
    }

    .partners h3 {
        margin-bottom: 1rem;
    }

    .calc_wrap,
    .param,
    .conditions {
        width: 100%;
    }

    .conditions div {
        display: flex;
        align-items: center;
    }

    .condition_type {
        width: unset;
        display: unset;
        font-size: 1.3rem;
    }

    .condition_type::after {
        display: none;
    }

    .condition_value_percent,
    .condition_value_sum,
    .result_num_payment {
        margin-left: 2rem;
    }

    #programs .row {
        flex-direction: column;
    }

    #programs .row:nth-of-type(1) {
        margin: 0;
    }

    #programs .element {
        width: 100%;
        margin: 1rem 0;
    }

    #quiz {
        padding: 8.125rem 0rem;
    }

    #quiz .heading {
        padding: 0 1rem 3.75rem;
    }

    #quiz .content,
    #quiz .quiz_info {
        width: 100%;
        border-radius: 0rem;
        border: unset;
    }

    #quiz .progress {
        padding: 2.375rem 1rem 0;
    }

    #quiz .quiz {
        padding: 0 1rem 2.375rem;
    }

    #quiz .contacts input,
    #quiz .contacts select,
    #quiz .controls button {
        width: 100%;
        margin: 0 0 1rem !important;
    }

    hr {
        display: none;
    }

    #quiz .controls {
        flex-direction: column-reverse;
        padding-top: 2.1875rem;
    }

    #profits .column {
        width: 100%;
    }

    #profits .content {
        flex-direction: column;
    }

    .circle-plus .circle .vertical {
        left: 96.7%;
    }

    #contacts {
        flex-direction: column-reverse;
        display: flex;
    }

    #contacts .contact_info {
        position: static;
        margin: 1rem auto 4rem;
        box-shadow: unset;
        border: 0.33333rem solid #00b4f7;
        width: 95%;
        padding: 2rem 1.5rem
    }

    #contacts .btn {
        width: 100%;
    }

    footer .normal {
        display: none;
    }

    footer .mobile {
        display: flex;
    }

    footer .logo {
        margin: 0;
    }

    #quiz .animated_progress:nth-of-type(1) {
        left: 2%;
    }

    .irs-line-right {
        height: 16px;
        background-position: 25px -3px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 6%;
        width: 100%;
    }

    .irs-bar {
        height: 12px;
        top: 33px;
        background-position: -19px -54px;
    }

    .irs-slider {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 32px;
        width: 26px;
        height: 14px;
        background-position: 35px -53px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {

    html,
    body {
        font-size: 13px
    }

    #head .container {
        width: unset;
    }

    .header_item {
        display: none;
    }

    header nav {
        display: block;
    }

    #head {
        padding: 8.1875rem 1rem;
    }

    #head h1 {
        font-size: 2.3rem;
        color: #ffffff;
    }

    #head p,
    #head p span {
        color: #ffffff;
    }

    #head {
        background-position: center;
    }

    .head_wrap {
        display: block;
    }

    .btn {
        font-size: 1.3rem;
    }

    #calculator,
    #programs,
    #profits,
    #faq {
        padding: 6.1875rem 1rem;
    }

    .param {
        padding: 2rem 0.3rem 0;
    }

    .calc_section {
        padding: 0;
        flex-direction: column-reverse;
    }

    .partners {
        width: 100%;
    }

    .partners_item {
        width: 33.3%;
    }

    .partners_item__moved {
        margin: 0;
    }

    .partners h3 {
        margin-bottom: 1rem;
    }

    .calc_wrap,
    .param,
    .conditions {
        width: 100%;
    }

    .conditions div {
        display: flex;
        align-items: center;
    }

    .condition_type {
        width: unset;
        display: unset;
        font-size: 1.3rem;
    }

    .condition_type::after {
        display: none;
    }

    .condition_value_percent,
    .condition_value_sum,
    .result_num_payment {
        margin-left: 2rem;
    }

    #programs .row {
        flex-direction: column;
    }

    #programs .row:nth-of-type(1) {
        margin: 0;
    }

    #programs .element {
        width: 100%;
        margin: 1rem 0;
    }

    #quiz {
        padding: 8.125rem 0rem;
    }

    #quiz .heading {
        padding: 0 1rem 3.75rem;
    }

    #quiz .content,
    #quiz .quiz_info {
        width: 100%;
        border-radius: 0rem;
        border: unset;
    }

    #quiz .progress {
        padding: 2.375rem 1rem 0;
    }

    #quiz .quiz {
        padding: 0 1rem 2.375rem;
    }

    #quiz .contacts input,
    #quiz .contacts select,
    #quiz .controls button {
        width: 100%;
        margin: 0 0 1rem !important;
    }

    hr {
        display: none;
    }

    #quiz .controls {
        flex-direction: column-reverse;
        padding-top: 2.1875rem;
    }

    #profits .column {
        width: 100%;
    }

    #profits .content {
        flex-direction: column;
    }

    .circle-plus .circle .vertical {
        left: 96.6%;
    }

    #contacts {
        flex-direction: column-reverse;
        display: flex;
    }

    #contacts .contact_info {
        position: static;
        margin: 1rem auto 4rem;
        box-shadow: unset;
        border: 0.33333rem solid #00b4f7;
        width: 95%;
        padding: 2rem 1.5rem
    }

    #contacts .btn {
        width: 100%;
    }

    footer .normal {
        display: none;
    }

    footer .mobile {
        display: flex;
    }

    footer .logo {
        margin: 0;
    }

    #quiz .animated_progress:nth-of-type(1) {
        left: 2%;
    }

    .irs-line-right {
        height: 16px;
        background-position: 25px -3px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 6%;
        width: 100%;
    }

    .irs-bar {
        height: 12px;
        top: 36px;
        background-position: -19px -54px;
    }

    .irs-slider {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 35px;
        width: 26px;
        height: 14px;
        background-position: 35px -53px;
    }
}

@media screen and (min-width: 426px) and (max-width: 580px) {

    html,
    body {
        font-size: 13px
    }

    #head .container {
        width: unset;
    }

    .header_item {
        display: none;
    }

    header nav {
        display: block;
    }

    #head {
        padding: 8.1875rem 2rem;
    }

    #head h1 {
        font-size: 2.3rem;
        color: #ffffff;
    }

    #head p,
    #head p span {
        color: #ffffff;
    }

    #head {
        background-position: center;
    }

    .head_wrap {
        display: block;
    }

    .btn {
        font-size: 1.3rem;
    }

    .menu_bar {
        padding: 1.5rem 2rem
    }

    .hidden_menu {
        padding: 4.5rem 2rem;
    }

    #calculator,
    #programs,
    #profits,
    #faq {
        padding: 6.1875rem 2rem;
    }

    .param {
        padding: 2rem 1rem 0;
    }

    .calc_section {
        padding: 0;
        flex-direction: column-reverse;
    }

    .partners {
        width: 100%;
    }

    .partners_item {
        width: 33.3%;
        height: 11.875rem;
    }

    .partners_item__moved {
        margin: 0;
    }

    .partners h3 {
        margin-bottom: 1rem;
    }

    .calc_wrap,
    .param,
    .conditions {
        width: 100%;
    }

    .conditions div {
        display: flex;
        align-items: center;
    }

    .condition_type {
        width: unset;
        display: unset;
        font-size: 1.3rem;
    }

    .condition_type::after {
        display: none;
    }

    .condition_value_percent,
    .condition_value_sum,
    .result_num_payment {
        margin-left: 2rem;
    }

    #programs .row {
        flex-direction: column;
    }

    #programs .row:nth-of-type(1) {
        margin: 0;
    }

    #programs .element {
        width: 100%;
        margin: 1rem 0;
    }

    #quiz {
        padding: 8.125rem 0rem;
    }

    #quiz .heading {
        padding: 0 1rem 3.75rem;
    }

    #quiz .content,
    #quiz .quiz_info {
        width: 100%;
        border-radius: 0rem;
        border: unset;
    }

    #quiz .progress {
        padding: 2.375rem 2rem 0;
    }

    #quiz .quiz {
        padding: 0 2rem 2.375rem;
    }

    #quiz .contacts input,
    #quiz .contacts select,
    #quiz .controls button {
        width: 100%;
        margin: 0 0 1rem !important;
    }

    hr {
        display: none;
    }

    #quiz .controls {
        flex-direction: column-reverse;
        padding-top: 2.1875rem;
    }

    #profits .column {
        width: 100%;
    }

    #profits .content {
        flex-direction: column;
    }

    .circle-plus .circle .vertical {
        left: 96%;
    }

    #contacts {
        flex-direction: column-reverse;
        display: flex;
    }

    #contacts .contact_info {
        position: static;
        margin: 1rem auto 4rem;
        box-shadow: unset;
        border: 0.33333rem solid #00b4f7;
        width: 95%;
        padding: 3rem 2.5rem
    }

    #contacts .btn {
        width: 100%;
    }

    footer .normal {
        display: none;
    }

    footer .mobile {
        display: flex;
    }

    footer .logo {
        margin: 0;
    }

    #quiz .animated_progress:nth-of-type(1) {
        left: 2%;
    }

    footer .mobile {
        padding: 2rem;
    }

    .irs-line-right {
        height: 16px;
        background-position: 25px -3px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 6%;
        width: 100%;
    }

    .irs-bar {
        height: 12px;
        top: 36px;
        background-position: -19px -54px;
    }

    .irs-slider {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 35px;
        width: 26px;
        height: 14px;
        background-position: 35px -53px;
    }
}

@media screen and (min-width: 581px) and (max-width: 768px) {

    html,
    body {
        font-size: 14px
    }

    #head .container {
        width: unset;
    }

    .header_item {
        display: none;
    }

    header nav {
        display: block;
    }

    #head {
        padding: 8.1875rem 2rem;
    }

    #head h1 {
        font-size: 2.3rem;
        color: #ffffff;
    }

    #head p,
    #head p span {
        color: #ffffff;
    }

    #head {
        background-position: center;
    }

    .head_wrap {
        display: block;
    }

    .btn {
        font-size: 1.3rem;
    }

    .menu_bar {
        padding: 1.5rem 2rem
    }

    .hidden_menu {
        padding: 4.5rem 2rem;
    }

    #calculator,
    #programs,
    #profits,
    #faq {
        padding: 6.1875rem 2rem;
    }

    .param {
        padding: 2rem 1rem 0;
    }

    .calc_section {
        padding: 0;
        flex-direction: column-reverse;
    }

    .partners {
        width: 100%;
    }

    .partners_item {
        width: 25%;
        height: 11.875rem;
    }

    .partners_item__moved {
        margin: 0;
    }

    .partners h3 {
        margin-bottom: 1rem;
    }

    .calc_wrap {
        width: 100%;
    }

    .param,
    .conditions {
        width: 50%;
    }

    .conditions {
        padding-top: 2.6rem;
    }

    .conditions div {
        text-align: center;
    }

    .condition_type {
        font-size: 1.3rem;
    }

    .condition_type::after {
        display: none;
    }

    .condition_value_percent,
    .condition_value_sum,
    .result_num_payment {
        margin-left: 2rem;
    }

    #programs .row {
        flex-direction: column;
    }

    #programs .row:nth-of-type(1) {
        margin: 0;
    }

    #programs .element {
        width: 100%;
        margin: 1rem 0;
    }

    #quiz {
        padding: 8.125rem 0rem;
    }

    #quiz .heading {
        padding: 0 1rem 3.75rem;
    }

    #quiz .content,
    #quiz .quiz_info {
        width: 100%;
        border-radius: 0rem;
        border: unset;
    }

    #quiz .progress {
        padding: 2.375rem 2rem 0;
    }

    #quiz .quiz {
        padding: 0 2rem 2.375rem;
    }

    #quiz .contacts input,
    #quiz .contacts select,
    #quiz .controls button {
        width: 100%;
        margin: 0 0 1rem !important;
    }

    hr {
        display: none;
    }

    #quiz .controls {
        flex-direction: column-reverse;
        padding-top: 2.1875rem;
    }

    #profits .column {
        width: 50%;
    }

    .circle-plus .circle .vertical {
        left: 95.83%;
    }

    footer .normal {
        display: none;
    }

    footer .mobile {
        display: flex;
    }

    footer .logo {
        margin: 0;
    }

    #quiz .animated_progress:nth-of-type(1) {
        left: 2%;
    }

    footer .mobile {
        padding: 2rem;
    }

    .irs-line-right {
        height: 16px;
        background-position: 25px -3px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 6%;
        width: 100%;
    }

    .irs-bar {
        height: 12px;
        top: 39px;
        background-position: -19px -54px;
    }

    .irs-slider {
        background-position: -1px -75px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 38px;
        width: 26px;
        height: 14px;
        background-position: 35px -53px;
    }

}

@media screen and (min-width: 769px) and (max-width: 900px) {

    html,
    body {
        font-size: 14px
    }

    #head .container {
        width: unset;
    }

    .header_item {
        display: none;
    }

    header nav {
        display: block;
    }

    #head {
        padding: 8.1875rem 5rem;
    }

    #head h1 {
        font-size: 2.3rem;
        color: #ffffff;
    }

    #head p,
    #head p span {
        color: #ffffff;
    }

    #head {
        background-position: center;
    }

    .head_wrap {
        display: block;
    }

    .btn {
        font-size: 1.3rem;
    }

    .menu_bar {
        padding: 1.5rem 5rem
    }

    .hidden_menu {
        padding: 4.5rem 5rem;
    }

    #calculator,
    #programs,
    #profits,
    #faq {
        padding: 6.1875rem 5rem;
    }

    .param {
        padding: 2rem 1rem 0;
    }

    .calc_section {
        padding: 0;
        flex-direction: column-reverse;
    }

    .partners {
        width: 100%;
    }

    .partners_item {
        width: 25%;
        height: 11.875rem;
    }

    .partners_item__moved {
        margin: 0;
    }

    .partners h3 {
        margin-bottom: 1rem;
    }

    .calc_wrap {
        width: 100%;
    }

    .param,
    .conditions {
        width: 50%;
    }

    .conditions {
        padding-top: 2.6rem;
    }

    .conditions div {
        text-align: center;
    }

    .condition_type {
        font-size: 1.3rem;
    }

    .condition_type::after {
        display: none;
    }

    .condition_value_percent,
    .condition_value_sum,
    .result_num_payment {
        margin-left: 2rem;
    }

    #programs .row {
        flex-direction: column;
    }

    #programs .row:nth-of-type(1) {
        margin: 0;
    }

    #programs .element {
        width: 100%;
        margin: 1rem 0;
    }

    #quiz {
        padding: 8.125rem 5rem;
    }

    #quiz .heading {
        padding: 0 1rem 3.75rem;
    }

    #quiz .content {
        width: 90%;
    }

    #quiz .progress {
        padding: 2.375rem 2rem 0;
    }

    #quiz .quiz {
        padding: 0 2rem 2.375rem;
    }

    #profits .column {
        width: 50%;
    }

    .circle-plus .circle .vertical {
        left: 95.83%;
    }

    footer .normal {
        display: none;
    }

    footer .mobile {
        display: flex;
    }

    footer .logo {
        margin: 0;
    }

    footer .mobile {
        padding: 2rem;
    }

    .irs-line-right {
        height: 16px;
        background-position: 25px -3px;
    }

    .irs-line-left {
        display: none;
    }

    .irs-line-mid {
        left: 6%;
        width: 100%;
    }

    .irs-bar {
        height: 12px;
        top: 39px;
        background-position: -19px -54px;
    }

    .irs-slider {
        background-position: -1px -75px !important;
        width: 29px;
        height: 38px;
    }

    .irs-slider:hover {
        background-position: -1px -81px !important;
        width: 29px;
        height: 38px;
    }

    .irs-bar-edge {
        top: 38px;
        width: 26px;
        height: 14px;
        background-position: 35px -53px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {

    html,
    body {
        font-size: 14px
    }

    .header_logo {
        width: 9rem;
    }

    .header_item:nth-of-type(1) {
        padding: 1.0625rem 2rem;
    }

    .header_item:nth-of-type(2) {
        padding: 0.625rem 6rem 0.625rem 2.1rem;
    }

    .week_house_list {
        width: 90%;
    }

    .packages {
        padding: 8.0625rem 2rem;
    }

    .individual_way_content {
        padding: 0 2rem;
    }

    .individual_way {
        padding: 4rem 2rem;
    }

    .presents_content {
        padding-left: 9rem;
    }

    .irs-bar {
        top: 1.78571429rem;
    }

    .irs-bar-edge {
        background-position: 0 -4rem;
    }

    .irs-slider {
        background-position: -0.125rem -5.18rem !important;
    }

    .irs-line-left {
        background-position: 0 -2rem;
    }

    .irs-line-right {
        background-position: 3rem -2rem;
    }

    .partners_item {
        width: 50%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {

    html,
    body {
        font-size: 15px
    }

    .header_item:nth-of-type(1) {
        padding: 1.0625rem 3rem;
    }

    .header_item:nth-of-type(2) {
        padding: 0.625rem 3rem 0.625rem 3.1rem;
    }

    .header_logo {
        width: 9rem;
    }

    #calculator {
        padding-top: 0;
    }

    .partners_item {
        width: 50%;
        height: 6.875rem;
    }

    .partners_item__moved {
        margin: 0;
    }

    .irs-bar {
        top: 2rem;
    }

    .irs-slider {
        background-position: -0.125rem -5rem !important;
    }

    .irs-bar-edge {
        top: 2.95rem;
        background-position: 0rem -3.7rem;
    }

    .irs-line-left {
        background-position: 0 -2rem;
    }

    .irs-line-right {
        background-position: 3rem -2rem;
    }

}

@media screen and (min-width: 1300px) and (max-width: 1440px) {

    html,
    body {
        font-size: 16px
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {

    html,
    body {
        font-size: 17px
    }


    .irs-bar {
        top: 2.5rem;
    }

    .irs-slider {
        background-position: -0.125rem -6.8rem !important;
    }

    .irs-line-left {
        background-position: -0.23529rem -3rem;
        top: -0.3528rem;
    }

    .irs-line-right {
        background-position: 3rem -2rem;
    }

    .circle-plus .circle .horizontal {
        margin-left: -0.08rem;
    }


    .param {
        width: 59%;
    }

    .calc_wrap {
        width: 70%;
    }
}


@media screen and (min-width: 1601px) and (max-width: 1800px) {

    html,
    body {
        font-size: 17px
    }

    .irs-bar {
        top: 2.5rem;
    }

    .irs-slider {
        background-position: -0.125rem -6.8rem !important;
    }

    .irs-line-left {
        background-position: -0.23529rem -3rem;
        top: -0.3528rem;
    }

    .irs-line-right {
        background-position: 3rem -2rem;
    }

    .circle-plus .circle .horizontal {
        margin-left: -0.08rem;
    }


    .param {
        width: 59%;
    }

    .calc_wrap {
        width: 70%;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {

    html,
    body {
        font-size: 20px
    }

    .calc_wrap {
        width: fit-content;
        margin: 0 auto;
        justify-content: space-between;
    }

    .partners_item__moved {
        margin-top: 0;
    }

    .partners_item {
        width: 25%;
        height: 13.875rem;
    }

    .partners h3,
    .condition_type,
    .param_item h3 {
        font-size: 1.5rem;
    }


    .irs-bar {
        top: 2rem;
        background-position: -0.56rem -1.8rem;
    }

    .irs-line-right {
        background-position: 3rem 1.25rem;
    }

    .irs-line-left {
        background-position: -4px -2.78rem;
    }

    .irs-slider {
        top: 2.4rem !important;
        background-position: -0.125rem -6.18rem !important
    }

    .circle-plus .circle .horizontal {
        margin-left: -0.12625rem;
    }

    #calculator {
        padding: 6.1875rem 15rem;
    }

    #quiz .content {
        max-height: 670px;
    }

    #quiz .animated_progress {
        min-height: 100px;
    }

    .partners {
        width: 100%;
        padding-bottom: 1rem;
    }

    .calc_section {
        flex-direction: column-reverse
    }

}


@media screen and (min-width: 2001px) and (max-width: 2560px) {

    html,
    body {
        font-size: 20px
    }

    .calc_wrap {
        width: fit-content;
        margin: 0 auto;
        justify-content: space-between;
    }

    .partners_item__moved {
        margin-top: 0;
    }

    .partners_item {
        width: 25%;
        height: 16.875rem;
    }

    .partners h3,
    .condition_type,
    .param_item h3 {
        font-size: 1.5rem;
    }


    .irs-bar {
        top: 2rem;
        background-position: -0.56rem -1.8rem;
    }

    .irs-line-right {
        background-position: 3rem 1.25rem;
    }

    .irs-line-left {
        background-position: -4px -2.78rem;
    }

    .irs-slider {
        top: 2.4rem !important;
        background-position: -0.125rem -6.18rem !important
    }

    .circle-plus .circle .horizontal {
        margin-left: -0.12625rem;
    }

    #calculator {
        padding: 6.1875rem 15rem;
    }

    #quiz .content {
        max-height: 670px;
    }

    #quiz .animated_progress {
        min-height: 100px;
    }

    .ac-container,
    #profits .container,
    #programs .content,
    .partners,
    #head .container,
    footer .content {
        margin: 0 auto;
        width: 80%;
    }

    .partners {
        padding-bottom: 1rem;
    }

    .calc_section {
        flex-direction: column-reverse
    }

    .header_item {
        padding: 1.0625rem 17rem!important;
    }
}