@font-face {
    font-family: Gotham Pro;
    src: url(../Fonts/GothaProBol.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gotham Pro;
    src: url(../Fonts/GothaProMed.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Gotham Pro;
    src: url(../Fonts/GothaProLig.otf);
    font-style: normal;
    font-weight: 300;
}

* {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: 'Gotham Pro', sans-serif;
    margin: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    transition: .5s;
}

ul {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

span.modal_trigger {
    font-size: 14px;
    text-decoration: underline;
}

section h1 {
    font-size: 2.0625rem;
}

.btn {
    padding: 1.3125rem 4.3rem;
    border: 0;
    background: #00b4f7;
    color: white;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: 0px 6px 10px rgba(0, 64, 88, 0.24);
    cursor: pointer;
    outline: none;
    font-size: 0.9375rem;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.btn:active {
    box-shadow: unset;
    transform: translateY(.5rem);
}

h1 {
    text-transform: uppercase;
    font-size: 3.2rem;
    color: #00b4f7;
}

h3 {
    font-weight: 400;
}

h1 span {
    color: black;
}


input[type="text"] {
    border: 0;
    width: 53rem;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
    outline: none;
}

/**********/
/* SLIDER */
/**********/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #00b4f7;
}

input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #00b4f7;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.43em;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00b4f7;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #00b4f7;
}

input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100px;
    background: #00b4f7;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #00b4f7;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
}

input[type=range]::-ms-thumb {
    height: 36px;
    width: 36px;
    background: #00b4f7;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #00b4f7;
}

input[type=range]:focus::-ms-fill-upper {
    background: #00b4f7;
}

/******************/
/* Header Section */
/******************/
header {
    display: flex;
    justify-content: space-between;
}

header .normal {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .mobile {
    width: 100%;
    display: none;
}

header .mobile span {
    color: white;
    float: right;
    font-size: 4rem;
    margin-top: -3.6rem;
    margin-right: 1rem;
    cursor: pointer;
    font-weight: 100;
}

header .logo {
    width: 12rem;
    height: 3.1875rem;
    background-image: url('../img/header_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header nav {
    align-items: center;
    display: flex;
    padding-left: 1rem;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav li {
    cursor: pointer;
    font-size: 0.9375rem;
    color: #ffffff;
    margin-right: 2.0625rem;
}

header nav li a {
    color: white;
    text-decoration: none;
    font-size: 0.9375rem;
}

header .contact {
    width: 14rem;
    text-align: right;
    margin-top: 0.3rem;
}

header .contact a {
    text-decoration: none;
    color: #ffffff;
}

/****************/
/* Body section */
/****************/
footer {
    background-color: #00b4f7;
}

footer .content {
    width: 100%;
    height: unset;
    padding: 4rem 6rem 0;
    display: flex;
    flex-wrap: wrap;
}

footer .content .item {
    width: 25%;
    padding-bottom: 4rem;
}

footer .content .item:nth-child(3) {
    padding-left: 1rem;
}

footer .content .item li {
    font-size: 0.9375rem;
    line-height: 1.875rem;
    color: #ffffff;
    font-weight: lighter;
    cursor: pointer;
}

footer .logo {
    width: 9.6875rem;
    height: 2.5625rem;
    background-image: url(../img/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2.0625rem;
}

footer .content a {
    text-decoration: none;
    color: #ffffff;
}

footer .copyright {
    display: block;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.875rem;
    color: #ffffff;
    font-weight: lighter;
    padding: 0.33rem 6rem;
    background-color: #333333;
}

/****************/
/* Section Head */
/****************/
#head {
    background: url(../img/family.jpg);
    background-size: cover;
    background-position-y: -11rem;
    background-repeat: no-repeat;
    padding: 8.1875rem 11.3125rem;
}

#head .container {
    height: 31rem;
    width: 44rem;
}

#head h1 {
    color: #00b4f7;
    margin-bottom: 1.6875rem;
    line-height: 1.4;
    font-size: 2.625rem;
}

#head p {
    font-weight: 300;
    font-size: 1.6rem;
}

#head p span {
    color: #00b4f7;
    font-weight: 600;
}

#head button {
    margin-top: 2.9375rem;
}

.header_item {
    width: 100%;
    display: flex;
    padding: 1.0625rem 6rem;
}

.header_item:nth-of-type(1) {
    background-color: #00b4f7;
}

.header_item:nth-of-type(2) {
    background-color: #ffffff;
}

.normal {
    display: flex;
    flex-direction: column;
}


.header_small_nav {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.header_small_nav li {
    cursor: pointer;
    font-size: 0.8125rem;
    color: #00b4f7;
    margin-right: 3.125rem;
}

/********************/
/* Section Contacts */
/********************/
#contacts {
    min-height: 0;
    margin-top: 4rem;
}

footer .mobile {
    display: none;
}

#contacts iframe {
    width: 100%;
    height: 34rem;
    margin-bottom: -0.375rem;
}

#contacts .contact_info {
    width: 26.625rem;
    background: white;
    position: absolute;
    box-shadow: 0rem 0.615rem 0.8125rem rgba(0, 0, 0, 0.19);
    padding: 4rem 2.5rem;
    margin-top: -31rem;
    margin-left: 9rem;
}

#contacts .contact_info h3 {
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    color: #333333;
    margin-bottom: 2rem;
}

#contacts .contact_text {
    font-size: 0.9375rem;
    line-height: 1.875rem;
    color: #333333;
    font-weight: normal;
    display: flex;
    align-items: center;
}

#contacts svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

#contacts .contact_info span:nth-of-type(2) {
    font-size: 1.125rem;
    margin: 1.625rem 0 2.0625rem;
}

#contacts .btn {
    width: 16.3125rem;
    font-size: 0.9375rem;
    margin-bottom: 1rem;
}

#contacts .agreement {
    display: block;
    width: 100%;
    font-size: 0.6875rem;
    color: #333333;
    font-weight: lighter;
}

#contacts .agreement a {
    color: #00b4f7;
}

/********************/
/*Section Calculator*/
/********************/

#calculator {
    padding: 6.1875rem 6rem;
    display: flex;
    flex-wrap: wrap;
}

#calculator .heading {
    text-align: center;
    padding-bottom: 2.25rem;
    width: 100%;
}

/*
#calculator .content {
    display: flex;
}

#calculator .sliders,
#calculator .results,
#calculator .partners {
    width: 33.3333%;
    padding: 2rem;
}

#calculator h3 {
    font-weight: 400;
    margin: .2em;
    color: grey;
}

#calculator .slider {
    border: 1px solid lightgrey;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    margin-bottom: 3rem;
}

#calculator .slider h3 {
    margin: 1rem 0 0.5rem 2rem;
    font-size: 1.5em;
    font-weight: 100;
    color: black;
}

#calculator .results {
    padding-left: 7rem;
}

#calculator .results hr {
    width: 4rem;
    float: left;
    margin: 0 0 0 0.3rem;
    border-color: #00b4f7;
}

#calculator .results h2 {
    margin-left: 0.3rem;
    color: #00b4f7;
    font-weight: normal;
    font-size: 2rem;
}

#calculator .result {
    margin-bottom: 4rem;
}

#calculator .banks {
    height: 27rem;
    box-shadow: 0 0 11px 0 lightgrey;
}

#calculator .bank {
    display: flex;
}

#calculator .partner {
    height: 9rem;
    width: 50%;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#calculator .partner:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #caf1ff;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#calculator .button {
    width: 23rem;
    margin: 0 auto;
} */


.calculator {
    min-width: 574px;
    position: relative;
    width: 60%;
    padding: 1rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#calculator .container {
    width: 100%;
}

.calc_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.count_button {
    margin: 3.5rem auto 0;
}

.partners {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.partners h3 {
    font-size: 1.0625rem;
    color: #333333;
    width: 100%;
}

.partners_item {
    width: 8.25rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.875rem;
    padding: 1rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.partners_item__moved {
    margin-top: -25px;
}

.partners_item:hover {
    box-shadow: 1.717px 8.835px 18px rgba(0, 68, 93, 0.17);
    background-color: #caf1ff;
    transform: scale(1.1);
    z-index: 10;
}

.param {
    position: relative;
    padding: 1.56rem 4.25rem 0rem 1.875rem;
    width: 50%;
    margin-bottom: 1rem;
}


.conditions {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.param_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.param_item h3 {
    font-size: 1.0625rem;
    letter-spacing: normal;
    font-weight: 400;
    line-height: 2rem;
    color: #4A4A4A;
    display: block;
    width: 100%;
}


.calc_line {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0rem;
    border-radius: 0.5rem 0.5rem 0 0;
    border: 1px solid #d9d9d9;
    /*  px usd instead of rem */
}

.param_value {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.param_scale {
    width: 100%;
    height: 0.5rem;
    background-color: #40a1d3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.condition_type {
    width: 100%;
    display: block;
    font-size: 1.0625rem;
    color: #4A4A4A;
    letter-spacing: 0;
    margin-bottom: 0.88rem;
}

.condition_type::after {
    content: '';
    display: block;
    width: 4rem;
    height: 0.125rem;
    margin-top: 0.375rem;
    background-color: #00b4f7;

}

.condition_value_percent,
.condition_value_sum {
    color: #00b4f7;
    font-size: 1.75rem;
    letter-spacing: 0;
    font-weight: 400;
}

.conditions div {
    margin-bottom: 2rem;
    width: 100%;
}

.conditions div:nth-of-type(3) {
    margin-bottom: 0rem;
}

.result_text {
    font-size: 1.125rem;
    color: #4A4A4A;
    letter-spacing: normal;
    display: block;
    width: 100%;
    margin-bottom: 0.625rem;
}

.result_num_payment {
    display: block;
    width: 100%;
    color: #0DB8F7;
    font-size: 1.875rem;
    letter-spacing: 0;
}

.count_section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.count_section p {
    font-size: 1rem;
    color: #9B9B9B;
    letter-spacing: 0;
    text-align: right;
    font-weight: normal;
}

.count_start {
    outline: none;
    border: unset;
    background-color: #00b4f7;
    width: 17.4375rem;
    color: #ffffff;
    font-weight: bold;

}

.irs-line-mid {
    left: 4%;
    height: 0.5rem;
    width: 100%;
}

.irs-line {
    height: 1.56rem;
    top: 3rem;
}

.irs-line-left {
    height: 1.375rem;
    background-position: 0 -1.75rem;
}

.irs-line-right {
    height: 1.25rem;
    background-position: 3rem -1.75rem;
}

.irs-slider {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
    width: 2rem;
    height: 3.125rem;
}

.irs-slider:hover {
    top: 1.75rem !important;
    background-position: -0.125rem -7.18rem !important;
}

.irs-bar {
    height: 1.875rem;
    top: 2.3125rem;
    background-position: -0.56rem -2.8rem;
}

.irs-bar-edge {
    top: 3rem;
    width: 1.375rem;
    left: 0;
    background-position: 0 -3.5rem;
    transform: rotate(180deg);
}

.irs-from,
.irs-to,
.irs-single {
    position: absolute;
    left: 1rem !important;
    color: #4A4A4A;
    font-size: 1.0625rem;
    letter-spacing: 0;
    background-color: #ffffff;
    padding: 1px 5px;
    -moz-border-radius: 3px;
    /* px used instead of rem */
    border-radius: 3px;
}


.irs-grid-text {
    font-size: 0.625rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.irs-min,
.irs-max {
    visibility: hidden !important;
}

.irs-grid {
    top: 3.625rem;
    height: 1.25rem;
}

.irs-with-grid {
    height: 2.5rem;
}

/*******************/
/* Section Programs*/
/*******************/
#programs {
    background: #ececec;
    padding: 6.1875rem 6rem;
}

#programs .container {}

#programs .content {
    padding: 4.3125rem 0 0;
}

#programs .heading {
    margin: 0 auto;
    text-align: center;
}

#programs .row {
    display: flex;
}

#programs .row:nth-of-type(1) {
    margin-bottom: 3rem;
}

#programs .element {
    width: 32%;
    margin-right: 3%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 25px -5px lightgrey;
    padding: 1.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#programs .element:nth-of-type(3) {
    margin-right: 0;
}

#programs .element:hover {
    color: white;
    background: #00b4f7;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#programs .element h3 {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 1.5rem;
    font-weight: 300;
    margin: 0;
    width: 74%;
}

#programs svg {
    fill: #00b4f7;
    width: 2.5rem;
    height: 2.5rem;
}

#programs .element:hover svg {
    fill: white;
}

#programs .element:hover .icon {
    border-color: white;
}

#programs .icon {
    border: 1px solid #00b4f7;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 3rem;
    padding: .9rem;
}

#programs p {
    width: 10rem;
    font-size: .9rem;
    line-height: 1.2rem;
    color: grey;
    font-weight: 300;
}

#programs .element:hover p {
    color: white;
}

/***************/
/* Section Quiz*/
/***************/
#quiz {
    padding: 8.125rem 6rem;
}

#quiz .heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.75rem;
}

#quiz h1 {
    margin-bottom: 1.1875rem;
}

#quiz h3 {
    font-size: 1.125rem;
}

#quiz hr {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 2rem auto 0;
    border: 1px solid #a0e4ff;
}

#quiz .content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: #d4f2fd;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    border: 1px solid #a0e4ff;
    position: relative;
}

#quiz .quiz_info {
    background: #00b4f7;
    padding: 1.75rem;
    text-align: center;
    color: white;
    border-radius: 1rem 1rem 0 0;
}

#quiz .offer {
    padding: 1.0625rem;
    text-align: center;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}

#quiz .animated_progress {
    position: absolute;
    width: 0.8rem;
    height: 100%;
    min-height: 75px;
    background-color: #f8e66e;
    top: -1rem;
    transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);
    -ms-transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);
    -webkit-transform: matrix(0.91, 0.41, -0.41, 0.91, 0, 0);
    transition: all 0.7s ease;
}

.added_opacity {
    opacity: 0.3;
}


.animated_progress:nth-of-type(2) {
    left: 6%;
}

.animated_progress:nth-of-type(3) {
    left: 10%;
}

.animated_progress:nth-of-type(4) {
    left: 14%;
}

#quiz .offer p {
    font-weight: 300;
    margin: 0;
}

#quiz .offer p>span {
    font-weight: 500;
}

#quiz .quiz {
    padding: 2.375rem 7.9375rem;
}

#fio {
    width: 100%;
}

#quiz .progress {
    display: flex;
    align-items: center;
}

#quiz .progress h3 {
    width: unset;
    margin: 0;
}

#quiz .contacts {
    margin-top: 1.4rem;
    display: flex;
}

#quiz .contacts input {
    width: 48.5%;
    margin: 0;
}

#quiz .contacts input:nth-of-type(1) {
    margin-right: 3%;
}

#quiz .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.1875rem;
}

#quiz .controls label {
    font-size: 0.75rem;
    color: #000000;
    margin-left: 1rem;
}

.checkbox_container {
    display: flex;
    align-items: center;
}

#quiz .controls button {
    margin-left: 1rem;
}

#quiz .controls a {
    text-decoration: unset;
    color: #01b4f7;
}

#quiz .dots {
    display: flex;
    padding: 6px 30px;
}

#quiz .dot::after {
    content: "";
    display: block;
    width: 15px;
    height: 1px;
    background-color: #01b4f7;
    position: absolute;
    top: 45%;
    left: 100%;
    ;
}

#quiz .dot:last-of-type::after {
    content: '';
    display: none;
}

#quiz .dots .dot {
    width: 9px;
    height: 9px;
    border-radius: 1rem;
    border: 1px solid #01b4f7;
    margin-right: 15px;
    position: relative;
}

#quiz .dots .dot.active {
    border: none;
    background: #01b4f7;
}

/*******************/
/* Section Profits */
/*******************/
#profits {
    background: #ececec;
    padding: 6.3125rem 6rem;
}

#profits .heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 4.3125rem;
}

#profits .content {
    display: flex;
    justify-content: space-between;
}

#profits .content h3 {
    width: fit-content;
    padding-bottom: 0.9375rem;
}

#profits .text {
    width: 80%;
}

#profits .column {
    width: 47.5%;
}

#profits .element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4.25rem;
}

#profits .element p {
    color: grey;
    font-weight: 100;
    width: 80%;
}

#profits .element .icon {
    border: 1px solid #00b4f7;
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profits .element svg {
    width: 60%;
}

#profits .element path {
    fill: #01b4f7;
}

/**************/
/* Section FAQ*/
/**************/
#faq {
    padding: 6.125rem 6rem;
}

#faq .heading {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3.8125rem;
}

.ac-container {
    width: 100%;
    border: 1px solid #dadada;
}

.ac-container label {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 1.0625rem;
    color: #333333;
    font-weight: bold;
    padding: 1rem;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.ac-container input {
    display: none;
}

.ac-container article {
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    text-align: justify;
    border-bottom: 1px solid #dadada;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ac-container input:checked~article {
    height: 6rem;


    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ac-container article p {
    display: block;
    width: 80%;
    margin: 1rem;
    text-align: justify;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
}

.circle-plus {
    margin: 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.closed .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
}

.closed .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
}

.opened {
    opacity: 1;
}

.opened .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
}

.opened .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
}

.circle-plus .circle .horizontal {
    position: absolute;
    background-color: #000000;
    width: 0.875rem;
    height: 0.125rem;
    left: 95%;
    margin-left: -0.15625rem;
    top: 50%;
    margin-top: -4px;
}

.circle-plus .circle .vertical {
    position: absolute;
    background-color: #000000;
    ;
    width: 0.125rem;
    height: 0.875rem;
    left: 95.6%;
    margin-left: -0.15625rem;
    top: 60.6%;
    margin-top: -0.9375rem;
}


/* MOBILE VERSION */
@media screen and (min-device-width: 100px) and (max-device-width: 475px) {
    html {
        font-size: 24px;
    }

    section h1 {
        font-size: 3.5rem;
    }

    section .container h1 {
        text-align: center;
    }

    header {
        padding: 0.5rem;
    }

    header .normal {
        display: none;
    }

    header .mobile {
        display: block;
    }

    header .logo {
        width: 21rem;
        height: 6.1875rem;
    }

    header .mobile span {
        color: white;
        float: right;
        font-size: 6rem;
        margin-top: -6.6rem;
        margin-right: 1rem;
        cursor: pointer;
    }

    .btn {
        font-size: 2.5rem;
        padding: 3.2rem;
        width: 36rem;
    }

    #head {
        padding: 19rem 2rem 0;
        background-size: 146rem;
        background-position-x: -43rem;
        background-position-y: -18rem;
        min-height: 78rem;
        background-color: grey;
        background-blend-mode: multiply;
    }

    #head h1 {
        text-align: left;
    }

    #head p {
        font-size: 2.6rem;
        color: white;
    }


    #head p span {
        color: white;
    }

    #head h1 {
        color: #fff;
    }

    #head .container {
        width: auto;
    }

    #calculator .button {
        width: 36rem;
    }

    #calculator .content {
        display: block;
        padding: 0 4rem;
    }

    #calculator .sliders,
    #calculator .results,
    #calculator .partners {
        width: auto;
        padding: 0;
    }

    #calculator .button {
        margin-top: 6rem;
    }

    #programs .row,
    #programs .row:nth-of-type(1) {
        margin-bottom: 0;
        height: unset;
        display: block;
    }

    #programs .content {
        padding: 0 2rem;
    }

    #programs .element {
        width: unset;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    #programs .container {
        height: auto;
        padding-bottom: 1rem;
    }

    #quiz h3 {
        width: unset;
        margin-left: 0;
        text-align: center;
    }

    #quiz .content {
        width: auto;
    }

    #quiz .quiz_info {
        padding: 0;
    }

    #quiz .quiz {
        width: auto;
        padding: 2rem 1rem;
    }

    input[type="text"] {
        width: 38.7rem;
    }

    #quiz hr {
        margin-left: 0;
        width: auto;
    }

    #profits {
        height: 106rem;
    }

    #profits .content {
        display: block;
        padding: 0 3rem;
    }

    #profits .column,
    #profits .column:nth-of-type(1) {
        margin-right: 0;
        width: auto;
        height: auto;
    }

    #profits .element {
        height: auto;
        margin-bottom: 0;
    }

    #profits .element h3 {
        font-size: 1.5rem;
    }

    #profits .element p {
        font-size: 1.5rem;
    }

    #faq .heading {
        padding: 0;
        width: auto;
    }

    #faq h1 {
        font-size: 3.2rem;
    }

    #faq .content {
        padding: 0;
    }

    #faq .answer {}

    #contacts .contact_info {
        margin-top: -33.5rem;
        margin-left: 8rem;
    }

    footer .normal {
        display: none;
    }

    footer .logo {
        width: 50%;
        height: 4.5625rem;
    }

    footer .phone {
        width: 50%;
    }

    footer .mobile {
        display: flex;
        height: 10rem;
        padding: 3rem 1rem;
    }

    footer a {
        float: right;
        font-size: 1.4rem;
        text-align: right;
        text-decoration: none;
        color: white;
    }

    footer a span.modal_trigger {
        font-size: 1rem;
    }

    #quiz .offer {
        text-align: center;
        padding: 1rem;
    }

    #quiz .quiz_info {
        padding: 2rem;
    }

    #quiz .quiz_info p {
        margin: 0;
        font-size: 1.4rem;
    }

    #quiz .progress {
        display: block;
    }

    #quiz .contacts {
        display: block;
    }

    #quiz .contacts input {
        width: 38.7rem;
    }

    #quiz .contacts input:nth-of-type(2) {
        margin-top: 1.4rem;
    }

    input[type="text"] {
        font-size: 2rem;
    }

    #quiz .controls {
        display: block;
    }

    #quiz .controls label {
        font-size: 1.5rem;
    }

    #quiz .controls button {
        margin: 1rem;
    }

    #faq h3 {
        width: 33rem;
    }
}